#contact h2 {
    margin: 65px 0 30px 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.6em;
}

#contact label {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

#contact {
    background-color: whitesmoke;
    transition: 0.6s;
    border: 0.5px solid grey;
}

#contact button{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

input::placeholder {
  color: #6b6b6b;
}

input.form-control textarea.form-control {
    color: #33333;
    font-size: 16px;
}

.error { 
    color:red;
    font-weight: bold;
}

.sendButton {
    margin: 30px 0;
    background-color: whitesmoke;
    font-weight: bold;
    color: #000000;
    transition: 0.6s;
    border: 0.5px solid grey;
}

.sendButton:hover {
    background-color: #000000 !important;
    font-weight: bold !important;
    color: whitesmoke!important;
    transition: 0.7s !important;
    border: 0.5px solid grey !important;
}
textarea.form-control {
    height: 100px;
}